<html>
<head>
<title>Send App</title>
</head>

<body>
<form id="form1" enctype="multipart/form-data" method="post" action="/api">
<div class="row">
      <label for="fileToUpload">Select a File to Upload</label><br />
      <input type="file" name="fileToUpload" id="fileToUpload"/>
</div>
<div class="row">
      <label for="javaClass">Java Class to run</label><br />
      <input type="text" name="javaClass" id="javaClass"/>
</div>
<div class="row">
      <label for="backendName">Backend name</label><br />
      <input type="text" name="backendName" id="backendName"/>
</div>
<div class="row">
      <input type="submit" value="Upload" />
    </div>
</form>
</body>
</html>
